@primary: #99C2FC;
@accent: #036CFE;

.grid{
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 50px 2fr 1fr;

  width: 450px;
  height: 350px;
  background-color: lighten(@primary, 10%);
  margin: 10vh auto;
  border-radius: 25px;
  box-shadow: 0 4px 8px 0 saturate(@primary, 50%);
  padding: 15px;
  font-family: Courier sans-serif;
}
.search{
  padding: 15px;
  text-align: center;
  grid-column: 1 / span 3;
  grid-row: 1;
}
.name{
  grid-column: 1;
  grid-row: 2;
  font-size: 40px;
}
.temp{
  grid-column: 2 / span 3;
  grid-row: 2;
  font-size: 50px;
  text-align: end;
}
.weather{
  grid-column: 1;
  grid-row: 3;
}
.wind{
  grid-column: 2;
  grid-row: 3;
}
.humidity{
  grid-column: 3;
  grid-row: 3;
}
.search-btn{
  height: 25px;
  border-radius: 5px;
  border: none;
  background-color: saturate(@primary, 60%);
  font-family: Courier sans-serif;
  font-size: 15px;
}
.warning{
  visibility: hidden;
  color: red;
}
.search-txt{
  font-family: Courier sans-serif;
}